.separator {
	height: 60px;
	width: 100%;
	background-color: $c-black;
}

@media (max-width: $bp-xl) {
	.separator {
		height: 50px;
	}
}

@media (max-width: $bp-m) {
	.separator {
	    height: 30px;
	}
}

@media (max-width: $bp-s) {
	.separator {
		height: 20px;
	}
}