.socialIcons {
	cursor: pointer;
	display: flex;
	
	a {
		display: block;
    	margin-right: 15px;
	}

	img {
		height: 35px;
		width: auto;
		transition: transform 0.2s ease;
		&:hover {
			transform: scale(1.1);
		}
	}
};

@media (max-width: $bp-s) {
	.socialIcons img {
	    height: 25px;
	}
}